
body {
    font-family:"Trebuchet MS";
    margin:0px;
    overflow: hidden;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    cursor: default;
}

canvas#main {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

div#status {
    width: 100%;
    position: fixed;
    z-index:10;
    padding-left:5px;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    font-size:12px;
    z-index: 10;
}

div#status p {
    margin: 0px;
}

div#menutabs {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;

    -webkit-transform: rotate(-90deg) translate(-153px, -152.5px);
    -moz-transform: rotate(-90deg) translate(-153px, -152.5px);
    -ms-transform: rotate(-90deg) translate(-153px, -152.5px);
    -o-transform: rotate(-90deg) translate(-153px, -152.5px);

    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

div#menutabs li {
    width: 70px;
    display: inline-block;
    padding: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    text-align: center;

    cursor: pointer;
    border-bottom-left-radius:2px;
    border-bottom-right-radius:2px;
}

div#menu {
    position: fixed;
    top: 0px;
    left: -100px;
    width: 100px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 10;
}

div#menu ul {
    margin-top: 2px;
}

div#menu li {
    margin: 2px;
    background-color: #222222;
    color: #ffffff;
    font-size: 10pt;
    height: 50px;

    border-radius:2px;

    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

div#menu li p {
    float: left;
    width:84%;
    height:100%;
    margin: 0px;
    padding: 0px;
    padding-left:3px;
    line-height: 50px;
    vertical-align: middle;
}

div#menu li div.drag {
    height: 100%;
    width: 8px;
    margin: 0px;
    padding: 0px;
    float: left;
    line-height: 50px;
    vertical-align: middle;
    font-size:1.5em;

    cursor: -webkit-grab;
}

div#menu li div.drag:hover {
    background-color: #555555;
}

div#menu li div.remove {
    width: 15px;
    height:15px;
    padding: 0px;
    margin: 0px;
    float: right;
    text-align: center;
    cursor: pointer;
}

div#menu li div.remove:hover {
    background-color: #555555;
}

div#menu li.addnew {
    height: 24px;
    text-align: center;
    padding-top: 2px;
    padding-left: 0px;
    font-size: 14pt;

    cursor: pointer;
}

div#menu li.active {
    border: 2px white solid;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: -2px;
    margin-bottom: -2px;
}

div#menu div {
    margin: 2px;
    color: #ffffff;
    font-size: 10pt;
    background-color: #222222;

    padding: 5px;

    border-radius:2px;

    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

div#about h1 {
    width: 100%;
    text-align: center;
}

div#about h3 {
    width:100%;
    text-align: center;
}

div#about p {
    font-size: 0.9em;
}

div.picker {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;

    z-index: 5;

    color: #ffffff;
}

div.picker div {
    background-color: #222222;
    border-radius: 2px;
    cursor: pointer;
    margin:2px;
}

div#anim {
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;

    position: fixed;
    top: 0px;

    border-bottom-left-radius:2px;
}

div#anim div {
    float: right;
    height: "100%";
    vertical-align: middle;

    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

div#anim div#play {
    padding-left: 3px;
    padding-right: 3px;

    cursor: pointer;
}

div#anim div#framelist {
    padding-left: 3px;
    padding-right: 6px;
}

div#anim div.frame {
    cursor: pointer;
}

div#anim div.active {
    color: #88ff88;
}
