
body {
    font-family:"Trebuchet MS";
    margin:0px;
}

canvas#main {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

div#status {
    width: 100%;
    position: fixed;
    z-index:10;
    padding-left:5px;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    font-size:12px;
}

div#status p {
    margin: 0px;
}

div#menutabs {
    position: fixed;
    top: 0px;
    left: 0px;

    -webkit-transform: rotate(-90deg) translate(-153px, -152.5px);
    -moz-transform: rotate(-90deg) translate(-153px, -152.5px);
    -ms-transform: rotate(-90deg) translate(-153px, -152.5px);
    -o-transform: rotate(-90deg) translate(-153px, -152.5px);

    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

div#menutabs ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    cursor: default;
}

div#menutabs li {
    width: 70px;
    display: inline-block;
    padding: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    text-align: center;

    cursor: pointer;
    border-bottom-left-radius:2px;
    border-bottom-right-radius:2px;
}

div#menu {
    position: fixed;
    top: 0px;
    left: -100px;
    width: 100px;
    background: rgba(0, 0, 0, 0.6);
}

div#menu ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    margin-top: 2px;
    cursor: default;
}

div#menu li {
    padding-left: 6px;
    padding-top: 14px;
/*  padding-bottom: 10px; */
    margin: 2px;
    background-color: #222222;
    color: #ffffff;
    font-size: 10pt;
    height: 50px;

    border-radius:2px;

    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    cursor: -webkit-grab;
}

div#menu li.addnew {
    height: 24px;
    text-align: center;
    padding-top: 2px;
    padding-left: 0px;
    font-size: 14pt;

    cursor: pointer;
}

div#menu li.active {
    border: 2px white solid;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: -2px;
    margin-bottom: -2px;
}

div#menu div {
    margin: 2px;
    color: #ffffff;
    font-size: 10pt;
    background-color: #222222;

    padding: 5px;

    border-radius:2px;

    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

div#menu h1 {
    width: 100%;
    text-align: center;
}
